on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set Node version
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'

      - name: Install Dependencies
        run: yarn

      - name: Lint
        run: yarn lint

      - name: Run tests
        run: yarn test

      - name: Build
        run: yarn build

      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v5
        with:
          # Do not generate the CHANGELOG.md. Changelog details will be included
          # in the release notes.
          output-file: 'false'
          github-token: ${{ github.token }}

      - name: Update Package Versions
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        run: yarn workspaces foreach --all version ${{ steps.changelog.outputs.version }} --deferred

      - name: Apply Version Updates
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        run: yarn version apply --all

      - name: Publish Types Package
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        env:
          YARN_NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: packages/types
        run: yarn npm publish --access public

      - name: Publish Client Package
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        env:
          YARN_NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: packages/client
        run: yarn npm publish --access public

      - name: Create Release
        uses: ncipollo/release-action@v1
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        with:
          allowUpdates: true
          draft: false
          name: ${{ steps.changelog.outputs.tag }}
          tag: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}
          token: ${{ github.token }}
